.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App {
  background-color: #111d2c;
}


.dash-header {
  position:relative;
  height:70px;
  
}
.dash-header{
  top:10px;
}
nav a {
  float:right;
  padding: 2px 20px;
  background-color: #111d2c;
  font-size: 20px;
  color: rgb(19, 150, 190);
}

.inputfields
{
  align-items: right;
  color: rgb(19, 150, 190);
  font-size: calc(10px + 2vmin);
}

.button
{
  color: rgb(0, 0, 0);
}

