.logo {
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

  .imageContainer {
    position: relative;
    left:15px;
  }

  .search-bar {
    width: 500px;
    margin-top:20px
  }

  .selectColumn{
    width: 120px;
    margin-left : 20px ;
    margin-top  : 20px
  }

  .test{
    border: #141414;

  }


.dndtitle
  {
    font-size: 10px;
    text-align: center !important;
    margin-top: 10%;
    color: #4aa1f3;
    font-weight: bold;
  }
  .dndcontent {
    background-color: white;
    min-height: 20vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }