.logo {
  margin: 16px;
}
.selectColumn {
  width: 120px;
}.autoSearch {
  width: 120px;
}.autoSearch2 {
  width: 300px;
  justify-content: center;
  align-items: center;
}.noti {
  background-color: #ffffff;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
}
.badge{
  position: absolute;
  right:10px;
  margin-top: 15px;
  margin-right:20px;
}
.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #fffafa;
  }
  .numpicker{
    font-size: 15px;
    color:white;
      position: absolute;
      top:90px;
      right: 10px;
  }

  .imageContainer {
    position: relative;
    left:15px;
  }

  .search-bar {
    width: 500px;
    margin-top:20px
  }

  .selectColumn{
    width: 120px;
    margin-left : 20px ;
    margin-top  : 20px
  }

  .test{
    border: #fff4f4;
    position: relative;
  }
  .dndtitle
  {
    font-size: 10px;
    text-align: center !important;
    margin-top: 10%;
    color: #4aa1f3;
    font-weight: bold;
  }
  .dndcontent {
    background-color: white;
    min-height: 20vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #root,
  #react-org-chart {
    margin: 0;
    cursor: move;
    height: 100%;
    width: 100%;
    background-color: #030b2b;
    position: absolute;
  }
  .org-chart-person-name {
    font-weight: 500;
  }
  .org-chart-person-link:hover g {
    fill: #409cf9 !important;
  }
  .org-chart-node:hover .org-chart-person-reports {
    fill: #409cf9 !important;
  }

  .zoom-buttons {
    position: relative;
  }
  
  .download-buttons {
    position: relative;
  }
  
  .zoom-button {
    width: 40px;
    height: 40px;
    display: block !important;
    margin: 8px;
  }
  
  .btn {
    font-size: 0.875rem;
    text-transform: none;
    text-decoration-line: none;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-radius: 0.125rem;
    cursor: pointer;
    margin: 6px;
  }
  
  .btn-outline-primary {
    color: #374ea2;
    border-color: #374ea2;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #374ea2;
    border-color: #374ea2;
  }
  